*{
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    
  @font-face {
    font-family: "Stainger Font Family", light-italic;
    src: url('fonts/Din Studio - Stainger Light Italic.otf') format('opentype');
             }
    font-weight: 400;
    font-style: normal;
    overscroll-behavior: none;
  }
 
 #blocking{
    display: none;
 }

 #header{
     min-height: 100vh;
     width: 100%;
     background-image: linear-gradient(beige 25% #ffffff 25%, #ffffff 100%),url(25, 31, 49, 0.614)),url(images/UofI.jpg);
     background-position: center;
     background-size: cover;
     position:static;
     display: flex;
     justify-content: space-between;
     padding-bottom: 100px;
 }

.intro{
    color: black;
    text-align: center;
    font-size: larger;
    transform: translateY(100%);
    border-radius: 50%;
    }

.aboutme{
    color: black;
    height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100vh;
    background-image: linear-gradient(rgba(9, 40, 40, 0.7),rgba(9, 40, 40, 0.7)),url(images/IMG_6821.jpeg);
    background-position: center;
    background-size:cover;
    position: sticky;
    justify-content: space-between;
}

.aboutme h2{
    color: blanchedalmond;
    max-height: 50%;
    font-size: 70px;
    font-weight: 50;
 }
 .aboutme p{
    color: black;
    font-size: 20px;
    font-weight: 50;
    transform: translateY(10%);
    transform: translateX(50%);
    justify-content: space-between;
    flex-basis: 31%;
    background:rgba(9, 40, 40, 0.9);
    border-radius: 10px;
    margin-bottom: 0%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    width: 50%;
 }
.nav-links ul li{
     list-style: none;
     display:inline-block;
     padding: 8px 12px;
     position: relative;
 }
 .nav-links ul li a{
     color: black;
     text-decoration: none;
     font-size: 25px;
 }
 .nav-links ul li::after{
     content: '';
     width: 0%;
     height: 2px;
     background: black;
     display: block;
     margin: auto;
     transition: 0.5s;
 }
 .nav-links ul li:hover::after{
     width: 100%;
 }

