*{
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    font-family: 'Bakersville', sans-serif;
    font-weight: 400;
    font-style: normal;
    overscroll-behavior: none;
    
 }
 #header{
     height: 50vh;
     width: 100%;
     background-image: linear-gradient(rgba(25, 31, 49, 0.614),rgba(25, 31, 49, 0.614)),url(images/UofI.jpg);
     background-position: center;
     background-size: cover;
     position:static;
     justify-content: space-between;
     padding-bottom: 100px;
     display: none;
 }
 .text-box1{
    text-align: center;
    color: #fff;
 }
 .text-box1 h1{
    text-align: center;
    color: #fff;
    padding: 30px;
    font-size: 50px;
 }
 .text-box2{
    text-align: center;
    color: #fff;
    padding: 30px;
 }
 
 .text-box2 h2{
    padding: 20px;
    font-size: 25px;
 }
 .text-box3{
    text-align: center;
    color: #fff;
 }
 .pfp{
    display: flex; /* Helps center */
    justify-content: center;
    align-items: center;
 }
 .pfp img{
    border-radius: 100%;
    width: 200px;
    padding: 20px;
 } 
 
 .nav-links{
    height: 60px;
    display: flex;
    flex: 1;
    background-color:#5c8f78;
    justify-content: right;
    text-align: center;
    align-items: center;
 }
 .nav-links ul li{
     list-style: none;
     display:inline-block;
     padding: 8px 12px;
     position: relative;
 }
 .nav-links ul li a{
     color: blanchedalmond;
     text-decoration: none;
     font-size: 15px;
 }
 .nav-links ul li::after{
     content: '';
     width: 0%;
     height: 2px;
     background: blanchedalmond;
     display: block;
     margin: auto;
     transition: 0.5s;
 }
 .nav-links ul li:hover::after{
     width: 100%;
 }
 
 /*additional info*/
 #additional{
    height:auto;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #5c8f78;
    background-position: center;
    background-size:auto;
    position:static;
    color: blanchedalmond;
    justify-content: space-between;
    padding-top: auto;
    display: none;
 }
 .additional-row h1{
    color: blanchedalmond;
    font-size: 20px;
    font-weight: 300;
 }
 .additional-row p{
    color: blanchedalmond;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    
 }
 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }

 .additional-row{
    flex-basis: 31%;
    background:rgba(9, 40, 40, 0.9);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
 }

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .image{
        width: 100px;
        max-height: 87px;
    }
    .aboutme{
        font-size: 15px;
    }
    .aboutme h2{
        font-size: 40px;
    }
    .aboutme p{
        font-size: 11px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .aboutme{
        font-size: 15px;
    }
    .aboutme h2{
        font-size: 40px;
    }
    .aboutme p{
        font-size: 20px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .aboutme{
        font-size: 15px;
    }
    .aboutme h2{
        font-size: 45px;
    }
    .aboutme p{
        font-size: 25px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .aboutme{
        font-size: 15px;
    }
    .aboutme h2{
        font-size: 50px;
    }
    .aboutme p{
        font-size: 30px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .aboutme{
        font-size: 15px;
    }
    .aboutme h2{
        font-size: 55px;
    }
    .aboutme p{
        font-size: 35px;
    }
}

@media screen and (max-width: 600px){
    .preview{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}


