* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bakersville', sans-serif;
}

body{
    background: url(images/UofI.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
}

/* The "about us" text and title at home */
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
}

/* "About us" hero button (calls to action) */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    margin-right: 15px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.5),rgba(4, 9, 30, 0.5));
    background-position: center;
    background-size: cover;
    position: relative;
}
header{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.9), transparent);
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100; */
}

/* supposed to be the links at top */
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.menu ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: 28px;
    transition: 0.5s;
}
.menu ul li:hover::after{
    width: 100%;
}
header .logo{
    font-weight: bold;
    order: 0;
    align-content: left;
    font-size: 30px;
    padding-left: 100px;
    color: #fff;
}
header .menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: 500;
}